<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <base href="" />
  <meta charset="utf-8" />
  <title>The Differents - Reno Luxury Rehab</title>
  <link rel="canonical" href="https://www.thediffs.co" />
  <meta property="og:site_name" content="The Differents" />
  <meta property="og:title" content="The Differents - Reno Luxury Rehab" />
  <meta property="og:url" content="https://www.thediffs.co" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="Luxury drug and alcohol rehab treatment in Reno NV providing comfort, care and a commitment to long-term sobriety and confidentiality." />
  <meta property="og:image" content="./images/diffs-social-logo.png" />
  <meta property="og:image:width" content="400" />
  <meta property="og:image:height" content="90" />
  <meta itemprop="name" content="The Differents - Reno Luxury Rehab" />
  <meta itemprop="url" content="https://www.thediffs.co" />
  <meta itemprop="description" content="Luxury drug and alcohol rehab treatment in Reno NV providing comfort, care and a commitment to long-term sobriety and confidentiality." />
  <meta name="twitter:title" content="The Differents - Reno Luxury Rehab" />
  <meta name="twitter:image" content="diffs-social-logo.png" />
  <meta name="twitter:url" content="https://www.thediffs.co" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:description" content="Luxury drug and alcohol rehab treatment in Reno NV providing comfort, care and a commitment to long-term sobriety and confidentiality." />
  <meta name="description" content="Luxury drug and alcohol rehab treatment in Reno NV providing comfort, care 
and a commitment to long-term sobriety and confidentiality." />
  <link rel="stylesheet" type="text/css" href="../../css/site-styles.css" />
  <link rel="stylesheet" href="https://use.typekit.net/uqo4llz.css" />
  <link rel="shortcut icon" type="image/x-icon" href="../images/diffs-favicon-blue.png" />

  <style>
    /* body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 20px;
      } */

    h1 {
      text-align: center;
      font-size: 2.2rem;
    }

    .container {
      max-width: 400px;
      margin: 0 auto;
      align-self: center;
    }

    .form-group {
      margin-bottom: 20px;
    }

    .form-group label {
      display: block;
      margin-bottom: 5px;
    }

    .form-group input {
      width: 100%;
      padding: 10px;
      font-size: 16px;
      border-radius: 4px;
      border: 1px solid #ccc;
    }

    .form-group button {
      background-color: #555;
      color: white;
      padding: 10px 20px;
      font-size: 16px;
      border-radius: 4px;
      border: none;
      cursor: pointer;
    }

    .form-group button:hover {
      background-color: #45a049;
    }

    .container {
      padding-top: 40px;
    }

    .container p {
      padding: 10px;
    }

    .drawing-container {
      margin: 0 auto;
      max-width: 512px;
    }

    .drawing-container p {
      text-align: center;
      padding-bottom: 25px;
    }

    .countdown-container {
      max-width: 300px;
      border-radius: 10px;
      background-color: #555;
      margin: 0 auto;
      padding: 20px;
    }

    .countdown-container p {
      background-color: #555;
      color: #ff5;
      text-align: center;
    }

    .user-list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 10px;
      max-width: 70%;
      margin: 0 auto;
    }

    .user-list a {
      text-decoration: none;
      color: #111;
    }

    .user-card {
      display: flex;
      align-items: center;
      background-color: #f2f2f2;
      padding: 10px;
      border-radius: 4px;
      cursor: pointer;
    }

    .user-card:hover {
      background-color: #aaa;
      cursor: pointer;
    }

    .user-card h3 {
      margin: 0;
    }

    .user-details {
      flex-grow: 1;
    }

    .user-details h3,
    .user-details p {
      margin: 0;
    }

    .user-card p {
      margin: 0;
    }

    .index-number {
      width: 32px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      background-color: #f49d79;
      color: #111;
      border-radius: 50%;
      margin-right: 10px;
    }

    .table-header p {
      margin: 20px;
    }

    div.scroll-container {
      background-color: #666;
      width: 600px;
      height: 150px;
      overflow-x: hidden;
      overflow-y: auto;
      text-align: center;
      padding: 20px;
      margin: 0 auto;

    }
  </style>
</head>

<body>
  <%- include('header', {user: 'Chris Yerga'}) %>
  <div class="bg-mint" id="wrapper">
    <div class="container bg-mint">
      <h1 style="padding-bottom: 8px">Company Directory</h1>
    </div>
    <div class="table-header">
      <p style="text-align: center"><%= people.length %> entries as of <%= new Date().toLocaleTimeString() %></p>
    </div>

    <div class="user-list">
      <% people.forEach(function(user, index){ %>
      <a href="../details/<%=user.id%>">
        <div class=" user-card" db-index="<%=index%>">
          <div class="index-number"><%= index+1 %></div>
          <div class="user-details">
            <h3><%= user.name %></h3>
            <p><%= user.email %></p>
          </div>
        </div>
      </a>
      <% }); %>
    </div>
    <div style="padding-bottom: 500px"></div>
  </div>
</body>

</html>