<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <base href="" />
  <meta charset="utf-8" />
  <title>The Differents - Reno Luxury Rehab</title>
  <link rel="canonical" href="https://www.thediffs.co" />
  <meta property="og:site_name" content="The Differents" />
  <meta property="og:title" content="The Differents - Reno Luxury Rehab" />
  <meta property="og:url" content="https://www.thediffs.co" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="Luxury drug and alcohol rehab treatment in Reno NV providing comfort, care and a commitment to long-term sobriety and confidentiality." />
  <meta property="og:image" content="./images/diffs-social-logo.png" />
  <meta property="og:image:width" content="400" />
  <meta property="og:image:height" content="90" />
  <meta itemprop="name" content="The Differents - Reno Luxury Rehab" />
  <meta itemprop="url" content="https://www.thediffs.co" />
  <meta itemprop="description" content="Luxury drug and alcohol rehab treatment in Reno NV providing comfort, care and a commitment to long-term sobriety and confidentiality." />
  <meta name="twitter:title" content="The Differents - Reno Luxury Rehab" />
  <meta name="twitter:image" content="diffs-social-logo.png" />
  <meta name="twitter:url" content="https://www.thediffs.co" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:description" content="Luxury drug and alcohol rehab treatment in Reno NV providing comfort, care and a commitment to long-term sobriety and confidentiality." />
  <meta name="description" content="Luxury drug and alcohol rehab treatment in Reno NV providing comfort, care 
and a commitment to long-term sobriety and confidentiality." />
  <link rel="stylesheet" type="text/css" href="../../css/site-styles.css" />
  <link rel="stylesheet" href="https://use.typekit.net/uqo4llz.css" />
  <link rel="shortcut icon" type="image/x-icon" href="../images/diffs-favicon-blue.png" />

  <style>
    /* body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 20px;
      } */

    h1 {
      text-align: center;
      font-size: 2.2rem;
      padding-top: 45px;
      padding-bottom: 45px;
    }

    .container {
      max-width: 70%;
      margin: 0 auto;
    }

    .wrapper {
      display: flex;
      background-color: #fff;
      max-width: 70%;
      padding: 30px;
      border-radius: 14px;
      margin: 0 auto;
    }

    .user-card {
      display: flex;
      background-color: #f2f2f2;
      padding: 10px;
      border-radius: 4px;
      cursor: pointer;
    }

    .user-card:hover {
      background-color: #aaa;
      cursor: pointer;
    }

    .user-card h3 {
      margin: 0;
      background-color: antiquewhite;
    }

    .user-details {
      flex-grow: 1;
    }

    .user-details h3,
    .user-details p {
      margin: 0;
    }

    .user-card p {
      margin: 0;
    }

    .index-number {
      width: 32px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      background-color: #f49d79;
      color: #111;
      border-radius: 50%;
      margin-right: 10px;
    }

    #brand-url {
      text-decoration: none;
      color: #777;
    }

    #brand-site {
      text-decoration: none;
      color: #777;
    }

    .form-group {
      margin-bottom: 20px;
    }

    .form-group label {
      display: block;
      margin-bottom: 5px;
    }

    .form-group input {
      width: 100%;
      padding: 10px;
      font-size: 16px;
      border-radius: 4px;
      border: 1px solid #ccc;
    }

    .form-group button {
      background-color: #555;
      color: white;
      padding: 10px 20px;
      font-size: 16px;
      border-radius: 4px;
      border: none;
      cursor: pointer;
    }

    .form-group button:hover {
      background-color: #45a049;
    }

    #notes {
      resize: none;
      border: 1px;
      border-style: solid;
      width: 100%;
      padding: 8px;
    }

    .toast {
      background-color: lightgreen;
      color: #000;
      font-size: 12pt;
      width: fit-content;
      padding: 8px;
      border-radius: 5px;
      display: none;
    }
  </style>
</head>

<body>
  <script>
    const brand = JSON.parse(' {\
      "name": "Brandfetch",\
      "domain": "brandfetch.com",\
      "claimed": true\, \
      "description": "All brands. In one place", \
      "links": [{\
          "name": "twitter", \
          "url": "https://twitter.com/brandfetch"\
        },\
        {\
          "name": "linkedin",\
          "url": "https://linkedin.com/company/brandfetch"\
        }\
      ],\
      "logos": [{\
          "type": "logo",\
          "theme": "light",\
          "formats": [{\
            "src": "https://asset.brandfetch.io/idL0iThUh6/id9WE9j86h.svg",\
            "background": "transparent",\
            "format": "svg",\
            "size": 15555\
          }]\
        },\
        {\
          "type": "logo",\
          "theme": "dark",\
          "formats": [{\
              "src": "https://asset.brandfetch.io/idL0iThUh6/idWbsK1VCy.png",\
              "background": "transparent",\
              "format": "png",\
              "height": 215,\
              "width": 800,\
              "size": 33937\
            },\
            {\
              "src": "https://asset.brandfetch.io/idL0iThUh6/idtCMfbWO0.svg",\
              "background": "transparent",\
              "format": "svg",\
              "height": null,\
              "width": null,\
              "size": 15567\
            }\
          ]\
        },\
        {\
          "type": "symbol",\
          "theme": "light",\
          "formats": [{\
            "src": "https://asset.brandfetch.io/idL0iThUh6/idXGq6SIu2.svg",\
            "background": "transparent",\
            "format": "svg",\
            "size": 2215\
          }]\
        },\
        {\
          "type": "symbol",\
          "theme": "dark",\
          "formats": [{\
            "src": "https://asset.brandfetch.io/idL0iThUh6/iddCQ52AR5.svg",\
            "background": "transparent",\
            "format": "svg",\
            "size": 2215\
          }]\
        },\
        {\
          "type": "icon",\
          "theme": "dark",\
          "formats": [{\
            "src": "https://asset.brandfetch.io/idL0iThUh6/idls3LaPPQ.png",\
            "background": null,\
            "format": "png",\
            "height": 400,\
            "width": 400,\
            "size": 2565\
          }]\
        }\
      ],\
      "colors": [{\
          "hex": "#0084ff",\
          "type": "accent",\
          "brightness": 113\
        },\
        {\
          "hex": "#00193E",\
          "type": "brand",\
          "brightness": 22\
        },\
        {\
          "hex": "#F03063",\
          "type": "brand",\
          "brightness": 93\
        },\
        {\
          "hex": "#7B0095",\
          "type": "brand",\
          "brightness": 37\
        },\
        {\
          "hex": "#76CC4B",\
          "type": "brand",\
          "brightness": 176\
        },\
        {\
          "hex": "#FFDA00",\
          "type": "brand",\
          "brightness": 210\
        }\
      ],\
      "fonts": [{\
          "name": "Poppins",\
          "type": "title",\
          "origin": "google",\
          "originId": "Poppins",\
          "weights": []\
        },\
        {\
          "name": "Inter",\
          "type": "body",\
          "origin": "google",\
          "originId": "Inter",\
          "weights": []\
        }\
      ],\
      "images": [{\
        "type": "banner",\
        "formats": [{\
          "src": "https://asset.brandfetch.io/idL0iThUh6/idUuia5imo.png",\
          "background": "transparent",\
          "format": "png",\
          "height": 500,\
          "width": 1500,\
          "size": 5539\
        }]\
      }]}\
      ')
  </script>
  <%- include('header', {user: 'Chris Yerga'}) %>
  <div class="bg-mint" id="wrapper">
    <div class="container bg-mint">
      <h1 style="padding-bottom: 32px">Entrant Details</h1>
    </div>

    <div class="wrapper">
      <div class="user-details">
        <a id="company-search">
          <img id="brand-logo" height="50px" />
          <h2 id="brand-name"></h2>
        </a>
        <p id="brand-description"></p>
        <a id="brand-url">
          <p id="brand-site"></p>
        </a>
        <div style="padding:15px"></div>
        <h3><%= entrant.name %></h3>
        <p><%= entrant.organization %></p>
        <p><%= entrant.role %></p>
        <p><%= entrant.email %></p>
        <p><%= entrant.phone %></p>
        <div style="padding: 15px"></div>




        <form action="../details/<%=id%>" id="form" method="post">
          <div class="form-group">
            <label for="notes">Notes:</label>
            <textarea id="notes" name="notes" rows="5"><%=entrant.notes%></textarea>
            <input type="hidden" name="toastMessage" id="toastMessage" value="Notes saved successfully" />
          </div>
          <div class="form-group">
            <button type="submit" id="submit-button" onclick="submitClicked()">
              Save Notes
            </button>
          </div>
          <div id="toast" class="toast"><%=toastMessage%></div>
        </form>
      </div>
    </div>
    <div style="padding-bottom: 500px"></div>
  </div>

  <script>
    // If there was a toast, show it and set a timer to hide it again
    if ('<%=toastMessage%>'.length) {
      document.getElementById('toast').style.display = 'block';
      setTimeout(() => {
        document.getElementById('toast').style.display = 'none';
      }, 2000)
    }

    function getLogo(brand) {
      const logos = brand.logos;
      var bestLogo;

      logos.every(element => {
        if (element.theme === 'dark') {
          bestLogo = element.formats[0].src;
          return false;
        }
        return true;
      })

      return bestLogo;
    }

    function getBrandInfo(email) {
      if (!email || email.length === 0) {
        return;
      }

      const domain = email.substring(email.lastIndexOf('@') + 1)
      const apiUrl = `https://api.brandfetch.io/v2/brands/${domain}`;
      const options = {
        method: 'GET',
        headers: {
          accept: 'application/json',
          Authorization: 'Bearer Ezz7cpmY62FxYfu7bgwC9k32xbyt8Yl13cui4NefjZM='
        }
      };

      fetch(apiUrl, options)
        .then(res => res.json())
        .then(json => {
          console.log(json);
          applyCompanyBranding(json);
        })
        .catch(err => console.error('error:' + err));
    }

    function applyCompanyBranding(brand) {
      document.getElementById('brand-logo').src = getLogo(brand);
      document.getElementById('brand-site').innerText = brand.domain;
      document.getElementById('brand-name').innerText = brand.name;
      document.getElementById('brand-description').innerText = brand.description;
      document.getElementById('brand-url').href = "https://" + brand.domain;
      document.getElementById('company-search').href = "../company/" + encodeURI(brand.name);
    }
    getBrandInfo("<%=entrant.email%>");
  </script>
</body>

</html>